/* Jumbotron */
.jumbotron {
	background: #FFA000;
	padding-top: 14em;
	padding-bottom: 8em;
}

/* Button */
.btn-default {
	margin-top: 2em;
}
.btn-primary, .btn-primary:visited {
	background: #FF5252;
	border-color: #ff3939;
}
.btn-primary:hover, .btn-primary:active  {
	background: #ff3939;
	border-color: #ff3939;
}
.navbar-brand {
	margin-right: 2em;
	float: none;
}
.navbar-form {
	margin-top: 0;
}
.navbar-right {
	margin-top: 29px;
}


/* Color */
.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }